@using System.Security.Claims
@model IEnumerable<EMovies.Models.Review>

@{
    ViewData["Title"] = "AllReviews";
}

<h1 class="text-center">ALL REVIEWS</h1>
 @if (User.Identity.IsAuthenticated ){                   
<p>
    <a class="btn btn-success" asp-action="Create">Create New Review</a>
</p>
 }
 <span class="padding:5px"></span>

<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
                    
                   
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieName)
            </td>
                @if (User.Identity.IsAuthenticated && (User.FindFirstValue(ClaimTypes.NameIdentifier) == item.UserId||User.IsInRole("Admin")))

                {

            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.ReviewId">Edit</a> 

                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ReviewId">Delete</a>
            </td>
                }
                else{
                    <td></td>
                }
        </tr>
}
    </tbody>
</table>
