@model IEnumerable<EMovies.Models.Actor>

@{
    ViewData["Title"] = "List of Actors";
}
<div class="text-white "> <a asp-controller="Actors" 
            asp-action="Create" class="btn btn-success">
<i class="bi bi-plus-circle"></i> Add New Actor </a>

</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        

<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="align-middle">
               <img class="rounded-circle" src="@item.ProfilePictureUrl"  alt="@item.ActorName" style="max-width:150px;" />
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.ActorName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Biography)
            </td>
            <td class="align-middle">
                <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.ActorId"><i class="bi bi-pencil-square"></i>Edit</a> |
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.ActorId"><i class="bi bi-eye"></i>Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ActorId"><i class="bi bi-trash"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

</div>
